{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>

    <meta charset="UTF-8">
    <title>{{ Title }}</title>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link type="text/css" href="{% static 'style.css' %}" rel="stylesheet" />

</head>
<body class="is-preload">

{% include 'includes/header.html' %}
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
				<li><a href="{% url 'post:home' %}">Главная страница</a></li>

{% if user.is_authenticated %}
	<li class="first"><a href="{% url 'post:add_post' %}">Добавить статью</a>  </li>
				<li class="last"><a href="{% url 'users:profile' %}">{{user.username}}</a> </li>
				<li class="last"> <form method="post" action="{% url 'users:logout' %}">{% csrf_token %}<button type="submit">logout</button>
</form></li>
{% else %}

    <li class="last"><a href="{% url 'users:login' %}">Войти</a> | <a href="{% url 'users:registration' %}">Регистрация</a></li>
{% endif %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}
	<div class="content-text">
{% block content %}
{% endblock %}
	</div>

<!-- Paginator -->
{% if page_obj %}<div style="text-align: center;"><hr>{% include 'includes/paginator.html' %}</div>{% endif %}
{% include 'includes/footer.html' %}
</body>
</html>